/* DESKTOP CSS  */
* {
    margin: 0;
}

#intro {
    background-image: url("images/Wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.aos-init:not(.aos-animate):after {position: fixed;}

.introTitle {
    font-size: 4rem;
    position: absolute;
    top: 10rem;
    left: 5rem;
}

.descriptionWords {
    margin-left: 3rem;
    font-size: 2.4rem;
    font-family: Matter,Helvetica,Arial,sans-serif;
}

.description {
    min-height: 100%;
    margin-top: 7rem;
    margin-left: 2rem;
    width: 50%;
}

#red {
    color: red;
}

#gray {
    color: gray;
}

#purple {
    color: purple;
}

.clipart {
    width: 50%;
    margin-top: -5rem;
    margin-left: 2rem;
}

.wallpaper {
    width: 100%;
}

.shoeDisplay {
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;
    min-width: 100vh;
    padding-bottom: 5rem;
}

.shoeImage {
    width: 30rem;
    margin-left: 45rem;
    margin-top: 4rem;
}

.shoeTitle {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    margin-top: -12rem;
    margin-left: 4.5rem;
    color: white;
    font-weight: bold;
    font-family: Matter,Helvetica,Arial,sans-serif;
}

.otherTitles {
        margin: 1rem;
        margin-left: 5rem;
        font-size: 2rem;
        color: white;
        font-weight: bold;
}

/* MOBILE PHONE CSS */

@media screen and (max-device-width: 800px) {

    * {
        overflow-x: hidden;
        margin:0;
    }

    #intro {
        width: 140%;
    }    
    
    .introTitle {
        font-size: 10rem;
        top: 45rem;
        left: 5rem;
    }
    
    .descriptionWords {
        margin-left: 3rem;
        font-size: 3.5rem;
    }
    
    .description {
        min-height: 100%;
        margin-top: 20rem;
        margin-left: 2rem;
        width: 75%;
    }
    
    .clipart {
        width: 95%;
        margin-top: 0rem;
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
    
    .wallpaper {
        width: 100%;
    }
    
    .shoeDisplay {
        background-color: black;
        min-height: 100%;
        min-width: 100vh;
        padding-bottom: 5rem;
    }
    
    .shoeImage {
        width: 55rem;
        margin-left: 5rem;
        margin-top: 25rem;
    }
    
    .shoeTitle {
        width: 50rem;
        font-size: 5rem;
        margin-bottom: 0.5rem;
        margin-top: -1rem;
        text-align: center;
    }
    
    .otherTitles {
        width: 50rem;
        text-align: center;
        margin: 1rem;
        margin-left: 4.5rem;
        font-size: 2rem;
    }

  }

  /* BIGGER MONITOR CSS */
@media screen and (min-width:1600px) and (max-width:1848px) {
  
    .shoeImage {
        width: 45rem;
        margin-left: 60rem;
        margin-top: 5rem;
    }

}

@media screen and (min-width:1300px) and (max-width:1600px) {

    .shoeImage {
        width: 40rem;
        margin-left: 49rem;
        margin-top: 5rem;
    }
}